# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
ignore_dir/
ignore_dir/1.py
ignore_dir/2.py
ignore_file.py
